body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: darkblue;
    background-color: darkseagreen;
}

h2 {
    color: darkorchid;
}

p {
    color: darkgreen;
}